{{#defineBlock "Page"}}
    {{#defineElement "head"}}
        <head>
            {{this}}
            <script src="https://cdn.optimizely.com/js/4242406432.js"></script>
            <script src="//assets.transunion.com/resources/js/lib/min/modernizr.min.js"></script>
            <link type="text/css" href="//assets.transunion.com/resources/css/lib/jquery-ui.css" rel="stylesheet">
            <link type="text/css" href="//assets.transunion.com/resources/css/lib/bootstrap.min.css" rel="stylesheet">
            <link type="text/css" href="//assets.transunion.com/resources/css/tu-font-awesome.css" rel="stylesheet">
            <link type="text/css" href="//assets.transunion.com/resources/css/tu-main.css" rel="stylesheet">
            <link type="text/css" href="//assets.transunion.com/resources/transunion/css/consumer/orphan/ppc/home-alt.css" rel="stylesheet">
            <link type="image/x-icon" href="//assets.transunion.com/resources/img/ico/favicon.ico" rel="shortcut icon">
        </head>
    {{/defineElement}}

    {{#defineElement "body"}}
        {{this}}
    {{/defineElement}}

    {{#defineBlockContainer}}
        <!DOCTYPE html>
        <html>
        {{#defineBlockBody}}
            {{element "head"}}
            <body {{extraAttributes}}>
                {{element "body"}}
            <script src="//assets.transunion.com/resources/js/lib/min/jquery.min.js"></script>
            <script src="//assets.transunion.com/resources/js/lib/min/bootstrap.min.js"></script>
            <script src="//assets.transunion.com/resources/js/lib/min/jquery.validate.min.js"></script>
            <script src="//assets.transunion.com/resources/js/lib/min/additional-methods.min.js"></script>
            <script src="//assets.transunion.com/resources/js/lib/min/jquery.touchSwipe.min.js"></script>
            <script src="//assets.transunion.com/resources/js/lib/min/handlebars.min.js"></script>
            <script src="//assets.transunion.com/resources/js/validation.js"></script>
            <script src="//assets.transunion.com/resources/js/TuFontsCounter.js"></script>
            <script src="//assets.transunion.com/resources/js/tu-main.js"></script>
            <script src="//assets.transunion.com/resources/js/immersive.js">
            </body>
        {{/defineBlockBody}}
        </html>
    {{/defineBlockContainer}}
{{/defineBlock}}