{{#defineBlock "Page"}}
    {{#defineElement "head"}}
        <head>
            {{this}}
        </head>
    {{/defineElement}}

    {{#defineElement "body"}}
        {{this}}
    {{/defineElement}}

    {{#defineBlockContainer}}
        <!DOCTYPE html>
        <html>
        {{#defineBlockBody}}
            {{element "head"}}
            <body {{extraAttributes}}>
                {{element "body"}}
            </body>
        {{/defineBlockBody}}
        </html>
    {{/defineBlockContainer}}
{{/defineBlock}}