{{#defineBlock "ConsumerHeaderCallToAction"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <a class="{{link.extraAttributes.desktopCSS}} hidden-xs hidden-sm"
               href="{{link.href}}">
                {{desktopLabel}}
            </a>
            <a class="{{link.extraAttributes.mobileCSS}} hidden-lg hidden-md"
               href="{{link.href}}">
                {{mobileLabel}}
            </a>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}