{{#defineBlock "LanguageNav"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            {{#each countries}}
                {{#if this.extraAttributes.default}}
                    <a data-target="languageNav" class="language toggleMenu" href="{{this.href}}">
                        <span class="{{this.extraAttributes.class}}"></span>{{this.extraAttributes.language}}
                    </a>
                {{/if}}
            {{/each}}
            <ul style="display:none" class="utilityDropDown" id="languageNav">
                {{#each countries}}
                    <li>
                        <a href="{{this.href}}">
                            <span class="{{this.extraAttributes.class}}"></span>{{this.body}}
                            <div class="countryLanguage">{{this.extraAttributes.language}}</div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}