{{#defineBlock "MainNavSubNav"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <a class="spSubHead active toggleMenu dtToggle" href="#" data-target="{{id}}NavContent" id="{{id}}SpSubHead">{{title}}</a>
            <ul style="display: none" class="subNav" id="{{id}}NavContent">
                {{#each links}}
                    <li>
                        <a href="{{this.href}}" target="">
                            {{this.body}}
                            <span style="visibility:hidden;">{{this.index}}</span></a>
                    </li>
                {{/each}}
            </ul>
            <ul class="subNavMoreInfo hidden-xs hidden-sm" id="{{id}}Info">
                {{#each links}}
                    <li style="display:none"
                        id="{{this.id}}{{this.index}}SubNavMoreInfo">
                        <span class="subNavTitle">{{this.body}}</span>
                        <p>{{this.description}}</p>
                    </li>
                {{/each}}
            </ul>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}